li{

    float: left;
    padding-left: 50px;
    list-style-type: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration: none;
    margin-top: 10px;

}
.listStyle{
    
    font-size: 19px;
    padding-top: 1px;
    background-color: lightblue;
    height: 80px;
    
}


