.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.material-icons {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 180px;
    cursor: pointer;
    text-decoration: none;
}

.card {
    height: 310px;
    width: 200px;
    border: 2px solid white;
    background-color: white;
}

.card .card-image .card-title {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.collection .collection-item {
    display: flex;
}

.collection-item.avatar .title {
    font-size: 17px;
    font-weight: 500;
    color: #580508;
    margin-bottom: 20px;
}

.collection .collection-item img {
    width: 150px;
    margin-right: 25px;
}

.item-desc {
    align-self: center;
}

.card-image {
    height: 200px;
    width: 180px;
}

.material-icons1 {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.material-icons2 {
    font-size: 40px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 40px;
}

.brand-logo {
    text-decoration: none;
    font-size: 26px;
    font-family: "cursive";
    font-weight: bold;
    color: #250558;
}

.item-img {
    height: 250px;
    width: 180px;
}

.checkout {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 620px;
    margin-top: -100px;
    font-family: sans-serif;
}

.container-for-shipping {
    margin-left: 20px;
}

.add {
    text-decoration: none;
    font-size: large;
    font-size: 27px;
    font-weight: bold;
}

.remove {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-top: -8px;
    margin-left: 10px;
}

.cancel {
    border: white;
    color: #580508;
    background-color: white;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 10px;
    font-family: 'cursive';
}

.added-to-cart-icon {
    margin-top: -395px;
    margin-left: 1220px;
    color: #580508;
}