.card{
    background-color:#ffeec8;
    color:green;
    
}
.card-header h2{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px #b4b3af ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.form-control{
    border: 2px solid #FFEE58;
    border-top-right-radius: 12px;
}

.errmsg{
    color: #f56767;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
